/* Base styles */
*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    line-height: 1.5;
    height: 100%;
}

body {
    background-color: black;
    background-size: cover;
    z-index: 1;
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
}

legend {
    color: #c9a551;
    margin-bottom: 40px;
}

button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

form {
    width : 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
}

label {
    width:100%;
    color: white;
    margin-bottom: 40px;
    min-height: 20px;
    vertical-align: middle;
    z-index: 2;
    clear: both;
    text-align:left;
    display: table-cell;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 10px;
}

label.col-md-4 {
    z-index: 2;
    text-align: right;
}

.video_box {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video_box video {
    min-width: 100%;
    min-height: 100%;

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video_box .video_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 0px;
    background: #000000;
    opacity: 0.9;
}

.well-form-horizontal {
    width:100%;
    overflow:hidden;
    z-index:2;
    margin-bottom:5px;
    display: table;
}

.input-group {
    border: 1.3px solid #c9a551;
    z-index: 2;
}

.myBtn {
    float: left;
    margin-top: 35px;
    z-index: 2;
    display: block;
    width: 180px;
    font-size: 18px;
    padding: 10px;
    border: 1.3px solid #c9a551;
    background: #000;
    color: #fff;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.myBtn:hover {
    background-color: #000000;
    color: #fafff2;
}

.totalAmount {
    float: right;
    margin-top: 40px;
    font: italic bold 30px Arial, sans-serif;
    display: block;
    color: #c9a551;
    size: auto;
}


