<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="img/Mmlogo.png"/>
    <title>Rapsodii de Tango 2 - Inregistrare</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/register.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

</head>
<body>
<div class="video_box">
    <div class="video_overlay"></div>
    <video autoplay="autoplay" loop="loop" muted="" id="bgVideo">
        <source src="img/bgVideo.mp4" type="video/mp4"/>
    </video>
</div>
<div class="container">

    <form th:action="@{/register}" th:object="${register}" class="well-form-horizontal" method="post" id="contact_form">
        <!-- Form Name -->
        <legend align="center">Rapsodii de Tango - Formular de Inregistrare</legend>

        <!-- FIRST NAME-->
        <div class="form-group">
            <label class="col-md-4 control-label">Prenume</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="first_name" placeholder="Prenume" th:field="*{firstName}"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <!-- LAST NAME-->

        <div class="form-group">
            <label class="col-md-4 control-label">Nume</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="last_name" placeholder="Nume" th:field="*{lastName}"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <!-- E-MAIL-->
        <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input type="text" name="email" placeholder="mail@myoatr.ro" th:field="*{email}"
                           class="form-control"/>
                </div>
            </div>
        </div>


        <!-- PHONE-->

        <div class="form-group">
            <label class="col-md-4 control-label">Telefon</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input type="text" name="phone" placeholder="(076)555 1212" th:field="*{phoneNumber}"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Rol</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="state" th:field="*{type}" class="form-control selectpicker">
                        <option value="">Selectati Leader sau Follower</option>
                        <option value="Leader">Leader</option>
                        <option value="Follower">Follower</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Inregistrare cu partener</label>
            <div class="col-md-4 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="partnerConfirm" th:field="*{soloOrPartner}" class="form-control selectpicker"
                            onchange="partnerToggle(this)">
                        <option value="">Selectati Da sau Nu</option>
                        <option value="cuPartener">Da</option>
                        <option value="faraPartener">Nu</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group" id="hiddenPartner" style="display: none">
            <label class="col-md-4 control-label">Numele Partenerului</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="partnerName" placeholder="Numele Partenerului" th:field="*{partnerName}"
                           class="form-control"/>
                </div>
            </div>
        </div>

        <!-- Check Boxes -->
        <div class="form-group">
            <label class="col-md-4 control-label">Milongas</label>
            <div class="col-md-4" id="checkboxes">
                <div align="left " class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop0"
                               value="Milonga de Bienvenido - Special Guests Performance - €8.5" rel="8.5"/> Milonga de
                        Bienvenido - Special Guests Performance - 40 RON / 8.5 EUR
                    </label>
                </div>
                <div align="left " class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop1"
                               value="Gran Milonga RAPSODIA - Maja and Marko SHOW - €12" rel="12"/> Gran Milonga
                        RAPSODIA : Maja and Marko SHOW - 55 RON / 12 EUR - Dress Code: ELEGANT
                    </label>
                </div>
                <div align="left " class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop2"
                               value="Milonga de Despedida - Special Guests Performance - €8.5" rel="8.5"/> Milonga de
                        Despedida - Special Guests Performance: 40 RON / 8,5 EUR
                    </label>
                </div>
            </div>
            <label class="col-md-4 control-label">Workshops</label>
            <div class="col-md-4" id="checkboxes3">
                <div align="left " class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop3"
                               value="W1 (21st) - Technique for everybody. Pivoting. - All levels - €20" rel="20"/> W1
                        (21st) - Technique for everybody. Pivoting. - All levels - 95 RON / 20 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop4"
                               value="W2 (22nd) - Walking and/in the close embrace - All levels - €20" rel="20"/> W2
                        (22nd) - Walking and/in the close embrace - All levels - 95 RON / 20 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop5"
                               value="W3 (22nd) - Taking a break - Paradas - All levels - €20" rel="20"/> W3 (22nd) -
                        Taking a break - Paradas - All levels - 95 RON / 20 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop6"
                               value="W4 (22nd) - Circular movements around common axis - Intermediate/Advanced - €20"
                               rel="20"/> W4 (22nd) - Circular movements around common axis - Intermediate/Advanced - 95
                        RON / 20 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop7"
                               value="W5 (23rd) - Giros and sacadas in close embrace - Intermediate/Advanced - €20"
                               rel="20"/> W5 (23rd) - Giros and sacadas in close embrace - Intermediate/Advanced - 95
                        RON / 20 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop8"
                               value="W6 (23rd) - Waltz. Linear turns - Intermediate/Advanced - €20" rel="20"/> W6
                        (23rd) - Waltz. Linear turns - Intermediate/Advanced - 95 RON / 20 EUR
                    </label>
                </div>
            </div>
            <label class="col-md-4 control-label">Packages</label>
            <div class="col-md-4" id="checkboxes2">
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop9" value="3 Milongas Package - €25"
                               rel="25"/> 3 Milongas Package - 120 RON / 25 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop10"
                               value="6 Workshops Package - €113" rel="113"/> 6 Workshops Package - 525 RON / 113 EUR
                    </label>
                </div>
                <div align="left" class="radio">
                    <label>
                        <input type="checkbox" th:field="*{workshops}" name="workshop11"
                               value="EARLY BIRD FULL PASS package - €128" rel="128"/> EARLY BIRD FULL PASS Package
                        (Available only if PAID until July 31): Milonga Package + Workshops Package (both already
                        deducted) - 600 RON / 128 EUR
                    </label>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="myBtn" href="/confirmation">Inregistrare<span
                        class="glyphicon glyphicon-send"></span></button>
                <div class="totalAmount">
                    <p id="total" th:field="*{totalAmount}"></p>
                    <p id="total1" th:field="*{totalAmountRon}"></p>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $("input[type=checkbox]").change(function () {
        recalculate();
    });

    function recalculate() {
        var sum = 0.00;

        $("input[type=checkbox]:checked").each(function () {
            sum += parseFloat($(this).attr("rel"));
        });

        document.getElementById("total").innerHTML = "Total : " + sum + '€';
    }
</script>
<script>
    $("input[type=checkbox]").change(function () {
        recalculate();
    });

    function recalculateRon() {
        var sum = 0;

        $("input[type=checkbox]:checked").each(function () {
            sum += parseInt($(this).attr("rel")) * 4.66;
        });

        document.getElementById("total1").innerHTML = "Total : " + sum + 'RON';
    }
</script>
<script>
    function partnerToggle(that) {
        if (that.value == "cuPartener") {
            alert("Partenerul dvs. trebuie sa se inregistreze de asemenea cu dvs. ca si partener !")
            document.getElementById("hiddenPartner").style.display = "block";
        }
        else {
            document.getElementById("hiddenPartner").style.display = "none";
        }
    }
</script>
<script src="js/register.js"></script>
</body>
</html>